//     $black 
//     $orange 
//     $red 
//     $gray 
//     $fonLight 
//     $yellowy 
//     $wight 
//     $orange20 
//     $shaddow 



$black: #0E0806;
$orange:#E05704;
$red:#FB0F0F;
$gray:#656D75;
$fonLight:#E6EAED;
$yellowy: #FFF7AC;
$wight: #FFFFFF;
$orange20:rgba(224, 87, 4, 0.2);
$shaddow:rgba(14, 8, 6, 0.4);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px